In [1]:
import pandas as pd

In [4]:
diamonds = pd.read_csv("C:/Users/Arunima/Downloads/diamond.csv")

In [5]:
diamonds

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price
0,1.10,Ideal,H,SI1,VG,EX,GIA,5169
1,0.83,Ideal,H,VS1,ID,ID,AGSL,3470
2,0.85,Ideal,H,SI1,EX,EX,GIA,3183
3,0.91,Ideal,E,SI1,VG,VG,GIA,4370
4,0.83,Ideal,G,SI1,EX,EX,GIA,3171
...,...,...,...,...,...,...,...,...
5995,1.03,Ideal,D,SI1,EX,EX,GIA,6250
5996,1.00,Very Good,D,SI1,VG,VG,GIA,5328
5997,1.02,Ideal,D,SI1,EX,EX,GIA,6157
5998,1.27,Signature-Ideal,G,VS1,EX,EX,GIA,11206
5999,2.19,Ideal,E,VS1,EX,EX,GIA,30507

In [8]:
diamonds.head()

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [9]:
import pandas as pd

In [24]:
user_cols = ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish']

In [25]:
diamonds = pd.read_csv("C:/Users/Arunima/Downloads/diamond.csv")

In [26]:
print("First 6 rows:")

First 6 rows:

In [27]:
print(diamonds[user_cols].head(6))

   Carat Weight    Cut Color Clarity Polish
0          1.10  Ideal     H     SI1     VG
1          0.83  Ideal     H     VS1     ID
2          0.85  Ideal     H     SI1     EX
3          0.91  Ideal     E     SI1     VG
4          0.83  Ideal     G     SI1     EX
5          1.53  Ideal     E     SI1     ID

In [28]:
import pandas as pd

In [30]:
print(diamonds['Carat Weight'])

0       1.10
1       0.83
2       0.85
3       0.91
4       0.83
        ...
5995    1.03
5996    1.00
5997    1.02
5998    1.27
5999    2.19
Name: Carat Weight, Length: 6000, dtype: float64

In [31]:
diamonds.head()

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [32]:
diamonds['Quality–color'] = diamonds.Cut + ', '+ diamonds.Color

In [33]:
diamonds.head()

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price,Quality–color
0,1.10,Ideal,H,SI1,VG,EX,GIA,5169,"Ideal, H"
1,0.83,Ideal,H,VS1,ID,ID,AGSL,3470,"Ideal, H"
2,0.85,Ideal,H,SI1,EX,EX,GIA,3183,"Ideal, H"
3,0.91,Ideal,E,SI1,VG,VG,GIA,4370,"Ideal, E"
4,0.83,Ideal,G,SI1,EX,EX,GIA,3171,"Ideal, G"

In [34]:
print("Number of rows and columns:")
print(diamonds.shape)
print("\nData type of each column:")
print(diamonds.dtypes)

Number of rows and columns:
(6000, 9)

Data type of each column:
Carat Weight     float64
Cut               object
Color             object
Clarity           object
Polish            object
Symmetry          object
Report            object
Price              int64
Quality–color     object
dtype: object

In [35]:
print("Summarize of 'object' columns:")
print(diamonds.describe(include=['object']))

Summarize of 'object' columns:
          Cut Color Clarity Polish Symmetry Report Quality–color
count    6000  6000    6000   6000     6000   6000          6000
unique      5     6       7      4        4      2            30
top     Ideal     G     SI1     EX       VG    GIA      Ideal, G
freq     2482  1501    2059   2425     2417   5266           690

In [36]:
print("Original Dataframe:")

Original Dataframe:

In [37]:
print(diamonds.head())

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price  \
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

  Quality–color
0      Ideal, H
1      Ideal, H
2      Ideal, H
3      Ideal, E
4      Ideal, G

In [39]:
print("\nAfter renaming two of the columns of the said dataframe:")

After renaming two of the columns of the said dataframe:

In [44]:
diamonds.rename(columns={'Color':'diamond_color','Clarity':'color_clarity'},inplace = True)

In [45]:
diamonds.head()

,Carat Weight,Cut,diamond_color,color_clarity,Polish,Symmetry,Report,Price,Quality–color
0,1.10,Ideal,H,SI1,VG,EX,GIA,5169,"Ideal, H"
1,0.83,Ideal,H,VS1,ID,ID,AGSL,3470,"Ideal, H"
2,0.85,Ideal,H,SI1,EX,EX,GIA,3183,"Ideal, H"
3,0.91,Ideal,E,SI1,VG,VG,GIA,4370,"Ideal, E"
4,0.83,Ideal,G,SI1,EX,EX,GIA,3171,"Ideal, G"

In [46]:
diamonds_cols = ['new_carat', 'new_cut', 'new_color', 'new_clarity', 'new_depth','new_Symmetry','new_Report','New_Price','New_Quality-clor']

In [47]:
diamonds.columns = diamonds_cols

In [48]:
print(diamonds.head())

   new_carat new_cut new_color new_clarity new_depth new_Symmetry new_Report  \
0       1.10   Ideal         H         SI1        VG           EX        GIA
1       0.83   Ideal         H         VS1        ID           ID       AGSL
2       0.85   Ideal         H         SI1        EX           EX        GIA
3       0.91   Ideal         E         SI1        VG           VG        GIA
4       0.83   Ideal         G         SI1        EX           EX        GIA

   New_Price New_Quality-clor
0       5169         Ideal, H
1       3470         Ideal, H
2       3183         Ideal, H
3       4370         Ideal, E
4       3171         Ideal, G

In [68]:
diamonds.drop('new_carat', axis=1, inplace=True)

In [69]:
print(diamonds)

     new_color new_clarity new_depth new_Symmetry new_Report  New_Price  \
0            H         SI1        VG           EX        GIA       5169
1            H         VS1        ID           ID       AGSL       3470
2            H         SI1        EX           EX        GIA       3183
3            E         SI1        VG           VG        GIA       4370
4            G         SI1        EX           EX        GIA       3171
...        ...         ...       ...          ...        ...        ...
5995         D         SI1        EX           EX        GIA       6250
5996         D         SI1        VG           VG        GIA       5328
5997         D         SI1        EX           EX        GIA       6157
5998         G         VS1        EX           EX        GIA      11206
5999         E         VS1        EX           EX        GIA      30507

        New_Quality-clor
0               Ideal, H
1               Ideal, H
2               Ideal, H
3               Ideal, E
4               Ideal, G
...                  ...
5995            Ideal, D
5996        Very Good, D
5997            Ideal, D
5998  Signature-Ideal, G
5999            Ideal, E

[6000 rows x 7 columns]

In [73]:
diamonds.drop(['new_clarity','new_depth'], axis=1 , inplace = True)

In [74]:
diamonds.head()

  new_color new_Symmetry new_Report  New_Price New_Quality-clor
0         H           EX        GIA       5169         Ideal, H
1         H           ID       AGSL       3470         Ideal, H
2         H           EX        GIA       3183         Ideal, H
3         E           VG        GIA       4370         Ideal, E
4         G           EX        GIA       3171         Ideal, G

In [75]:
result = diamonds.New_Price.sort_values(ascending=True)

In [76]:
print(result)

1565      2184
4606      2241
5690      2348
3059      2383
954       2396
         ...
4257     81399
4401     83145
1881     93813
188      96493
3192    101561
Name: New_Price, Length: 6000, dtype: int64

In [77]:
print("\n new_Report in descending order :")

 new_Report in descending order :

In [78]:
result = diamonds.New_Price.sort_values(ascending=False)

In [79]:
print(result)

3192    101561
188      96493
1881     93813
4401     83145
4257     81399
         ...
954       2396
3059      2383
5690      2348
4606      2241
1565      2184
Name: New_Price, Length: 6000, dtype: int64

In [81]:
result = diamonds.sort_values('New_Price')

In [82]:
print(result)

     new_color new_Symmetry new_Report  New_Price    New_Quality-clor
1565         I            G       AGSL       2184             Good, I
4606         I           VG        GIA       2241             Good, I
5690         I           VG        GIA       2348        Very Good, I
3059         I           VG        GIA       2383            Ideal, I
954          H            G        GIA       2396        Very Good, H
...        ...          ...        ...        ...                 ...
4257         D           EX        GIA      81399  Signature-Ideal, D
4401         D           VG        GIA      83145        Very Good, D
1881         D           EX        GIA      93813        Very Good, D
188          D           EX        GIA      96493            Ideal, D
3192         D           EX        GIA     101561            Ideal, D

[6000 rows x 5 columns]

In [83]:
result = diamonds.sort_values('New_Price',ascending=False )

In [85]:
print(result)

     new_color new_Symmetry new_Report  New_Price    New_Quality-clor
1565         I            G       AGSL       2184             Good, I
4606         I           VG        GIA       2241             Good, I
5690         I           VG        GIA       2348        Very Good, I
3059         I           VG        GIA       2383            Ideal, I
954          H            G        GIA       2396        Very Good, H
...        ...          ...        ...        ...                 ...
4257         D           EX        GIA      81399  Signature-Ideal, D
4401         D           VG        GIA      83145        Very Good, D
1881         D           EX        GIA      93813        Very Good, D
188          D           EX        GIA      96493            Ideal, D
3192         D           EX        GIA     101561            Ideal, D

[6000 rows x 5 columns]