In [2]:
import pandas as pd

student_dict = {'Name':['Joe','Nat'], 'Age':[20,21], 'Marks':[85.10, 77.80]}

print(student_dict)

{'Name': ['Joe', 'Nat'], 'Age': [20, 21], 'Marks': [85.1, 77.8]}

In [5]:
student_df = pd.DataFrame(student_dict)

In [6]:
student_df

  Name  Age  Marks
0  Joe   20   85.1
1  Nat   21   77.8

In [9]:
import pandas as pd

# Setting maximum rows to be shown 
pd.options.display.max_rows = 20

# Setting minimum rows to be shown
pd.set_option("display.min_rows", 5)

# Print DataFrame
print(cars)

In [10]:
print(cars)

    index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
2       2  alfa-romero    hatchback        94.5   171.2        ohcv
3       3         audi        sedan        99.8   176.6         ohc
4       4         audi        sedan        99.4   176.6         ohc
..    ...          ...          ...         ...     ...         ...
56     81   volkswagen        sedan        97.3   171.7         ohc
57     82   volkswagen        sedan        97.3   171.7         ohc
58     86   volkswagen        sedan        97.3   171.7         ohc
59     87        volvo        sedan       104.3   188.8         ohc
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
2               six         154               19  16500.0
3              four         102               24  13950.0
4              five         115               18  17450.0
..              ...         ...              ...      ...
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

[61 rows x 10 columns]

In [24]:
import pandas as pd 
pd.options.display.max_rows = 20
pd.set_option("display.min_rows", 5)
print(cars)

    index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
..    ...          ...          ...         ...     ...         ...
59     87        volvo        sedan       104.3   188.8         ohc
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
..              ...         ...              ...      ...
59             four         114               23  12940.0
60             four         114               23  13415.0

[61 rows x 10 columns]

AttributeError: module 'pandas' has no attribute 'set_options'

AttributeError: module 'pandas' has no attribute 'set_options'

AttributeError: module 'pandas' has no attribute 'set_options'

In [22]:
import pandas as pd

# Setting maximum rows to be shown 
pd.options.display.max_rows = 20

# Setting minimum rows to be shown
pd.set_option("display.min_rows", 5)

# Print DataFrame
print(cars)

    index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
..    ...          ...          ...         ...     ...         ...
59     87        volvo        sedan       104.3   188.8         ohc
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
..              ...         ...              ...      ...
59             four         114               23  12940.0
60             four         114               23  13415.0

[61 rows x 10 columns]

In [23]:
import pandas as pd

AttributeError: module 'pandas' has no attribute 'set_options'

In [25]:
student_dict = {"Name":["Arunima","Monalisa","Suhrid"],"Age":[30,30,30],"Marks":[75,54,43]}

In [28]:
df = pd.DataFrame(student_dict)

In [29]:
print(df)

       Name  Age  Marks
0   Arunima   30     75
1  Monalisa   30     54
2    Suhrid   30     43

In [30]:
print("dataframe_index",df.index)

dataframe_index RangeIndex(start=0, stop=3, step=1)

In [31]:
print("dataframe_colums",df.columns)

dataframe_colums Index(['Name', 'Age', 'Marks'], dtype='object')

In [32]:
print("DataFrame Column types : ", df.dtypes)

DataFrame Column types :  Name     object
Age       int64
Marks     int64
dtype: object

In [33]:
print("DataFrame is empty? : ", df.empty)

DataFrame is empty? :  False

In [34]:
print("DataFrame Shape : ", df.shape)

DataFrame Shape :  (3, 3)

In [35]:
print("DataFrame Size : ", df.size)

DataFrame Size :  9

In [36]:
print("Dataframe Values:",df.values)

Dataframe Values: [['Arunima' 30 75]
 ['Monalisa' 30 54]
 ['Suhrid' 30 43]]

In [40]:
new_df = df.iloc[2].replace(to_replace= 43, value=80)

In [41]:
print(new_df)

Name     Suhrid
Age          30
Marks        80
Name: 2, dtype: object

In [44]:
df.replace( to_replace = 43, value =100, inplace=True)

In [45]:
df

       Name  Age  Marks
0   Arunima   30     75
1  Monalisa   30     54
2    Suhrid   30    100