In [1]:
person = {"name": "Jessa", "country": "USA", "telephone": 1178}

print(person)

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

In [2]:
fish = {'name': "Nemo", 'hands': "fins", 'special': "gills"}
dog = {'name': "Clifford", 'hands': "paws", 'color': "red"}

In [7]:
 fishdog = {**fish, **dog}
print(fishdog)

{'name': 'Clifford', 'hands': 'paws', 'special': 'gills', 'color': 'red'}

In [8]:
person = dict([("name", "Mark"), ("country", "USA"), ("telephone", 1178)])
print(person)

{'name': 'Mark', 'country': 'USA', 'telephone': 1178}

In [9]:
sample_dict = {"name": "Jessa", 10: "Mobile"}
print(sample_dict)

{'name': 'Jessa', 10: 'Mobile'}

In [10]:
person = {"name": "Jessa", "telephones": [1178, 2563, 4569]}
print(person)

{'name': 'Jessa', 'telephones': [1178, 2563, 4569]}

In [11]:
person = {"name": "Jessa", "country": "USA", "telephone": 1178}
print(person['name'])

Jessa

In [12]:
from collections import ChainMap
dict(ChainMap(fish, dog))

{'name': 'Nemo', 'hands': 'fins', 'color': 'red', 'special': 'gills'}

In [13]:
mydict = {
 'a': '1',
 'b': '2'
}
print(mydict.keys())

dict_keys(['a', 'b'])

In [14]:
mydict = {
    'a': '1',
    'b': '2'
}

print(mydict.keys())

dict_keys(['a', 'b'])

In [15]:
person = {"name": "Jessa", "country": "USA", "telephone": 1178}
print(person.keys())

dict_keys(['name', 'country', 'telephone'])

In [16]:
print(type(person.keys()))

<class 'dict_keys'>

In [17]:
print(person.values())

dict_values(['Jessa', 'USA', 1178])

In [18]:
print(type(person.values()))

<class 'dict_values'>

In [19]:
print(person.items())

dict_items([('name', 'Jessa'), ('country', 'USA'), ('telephone', 1178)])

In [22]:
dictionary = {"Hello": 1234, "World": 5678}
print(dictionary["World"])

5678

In [28]:
person = {"name": "Jessa","country":"USA","Telephone": 1178}
print('key', ':' 'value')

for key in person:
    print(key, ':', person[key])

key :value
name : Jessa
country : USA
Telephone : 1178
key : value
name Jessa
country USA
Telephone 1178

In [30]:
person = {"name": "Jessa", "country": "USA", "telephone": 1178}
print(len(person))

3

In [33]:
person = {"name": "Jessa", 'country': "USA", "telephone": 1178}

# update dictionary by adding 2 new keys
person["weight"] = 50
person.update({"height": 6})

# print the updated dictionary
print(person)

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}

In [35]:
person = {"name":"Jessa","country":"USA","telephone": 1178}

person["weight"] = 50
person.update({"height":6})

print(person)

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}

In [38]:
person = {"name": "Jessa", 'country': "USA"}

# Adding 2 new keys at once
# pass new keys as dict
person.update({"weight": 50, "height": 6})
# print the updated dictionary
print(person)
# output {'name': 'Jessa', 'country': 'USA', 'weight': 50, 'height': 6}

# pass new keys as as list of tuple
person.update([("city", "Texas"), ("company", "Google")])
# print the updted dictionary
print(person)

{'name': 'Jessa', 'country': 'USA', 'weight': 50, 'height': 6}
{'name': 'Jessa', 'country': 'USA', 'weight': 50, 'height': 6, 'city': 'Texas', 'company': 'Google'}

In [40]:
person = {"name": "Jessa", "country": "USA"}
person.update({"country": "Alabama"})
print(person)

{'name': 'Jessa', 'country': 'Alabama'}

In [42]:
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [44]:
person = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}
deleted_item = person.popitem()
print(person)

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50}

In [47]:
sam_list = [11, 13, 15, 16, 13, 15, 16, 11] 
print ("The list is: " + str(sam_list)) 
result = [] 

[result.append(x) for x in sam_list if x not in result] 
print("result after removing the list" + str(result))

The list is: [11, 13, 15, 16, 13, 15, 16, 11]
result after removing the list[11, 13, 15, 16]

In [48]:
sam_list = [11, 13, 15, 16, 13, 15, 16, 11] 
print ("The list is" + str(sam_list))
result = []

for x in sam_list:
    if x not in result:
        result.append(x)
print("after removing duplicates " +str(result))

The list is[11, 13, 15, 16, 13, 15, 16, 11]
after removing duplicates [11, 13, 15, 16]

In [50]:
person = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}

deleted_item = person.pop("telephone")
print(person)

{'name': 'Jessa', 'country': 'USA', 'weight': 50, 'height': 6}

In [54]:
person = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}
del person['weight']
print(person)

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'height': 6}

In [59]:
person = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}
key_name = 'country'
if key_name in person.keys():
       print("country name is", person[key_name])
else:
    print("Key not found")

country name is USA

In [61]:
person = {'name': 'Arunima','country':'India','telephone': 1178}

key_name = 'state'

if key_name in person.keys():
    print ("country name is ", person[key_name])
else:
    print("Key not found")

Key not found

In [62]:
dict1 = {'Jessa': 70, 'Arul': 80, 'Emma': 55}
dict2 = {'Kelly': 68, 'Harry': 50, 'Olivia': 66}

dict1.update(dict2)
print(dict1)

{'Jessa': 70, 'Arul': 80, 'Emma': 55, 'Kelly': 68, 'Harry': 50, 'Olivia': 66}

In [65]:
student_dict1 = {'Aadya': 1, 'Arul': 2, }
student_dict2 = {'Harry': 5, 'Olivia': 6}
student_dict3 = {'Nancy': 7, 'Perry': 9}

# join three dictionaries 
student_dict = {**student_dict1, **student_dict2, **student_dict3}
# printing the final Merged dictionary
print(student_dict)

{'Aadya': 1, 'Arul': 2, 'Harry': 5, 'Olivia': 6, 'Nancy': 7, 'Perry': 9}

In [66]:
student_dict1 = {'Aadya': 1, 'Arul': 2, }
student_dict2 = {'Harry': 5, 'Olivia': 6}
student_dict3 = {'Nancy': 7, 'Perry': 9}

# join three dictionaries 
student_dict = {**student_dict1, **student_dict2, **student_dict3}
# printing the final Merged dictionary
print(student_dict)

{'Aadya': 1, 'Arul': 2, 'Harry': 5, 'Olivia': 6, 'Nancy': 7, 'Perry': 9}

In [68]:
student_dict1 = {'Aadya': 1, 'Arul':2}
student_dict2 = {'Harry': 5,'Olibvia': 6}
student_dict3 = {'Nancy': 7, 'Perry':9}

student_dict = {**student_dict1, **student_dict2, **student_dict3}
print(student_dict)

{'Aadya': 1, 'Arul': 2, 'Harry': 5, 'Olibvia': 6, 'Nancy': 7, 'Perry': 9}

In [73]:
dict1 = {1: "Python", 2: "Java", 3: "Ruby", 4: "Scala"}
dict2 = dict1.copy()
print(dict2)

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}

In [74]:
print(dict2.items())

dict_items([(1, 'Python'), (2, 'Java'), (3, 'Ruby'), (4, 'Scala')])

In [75]:
dict1 = {'Jessa': 70, 'Emma': 55}
dict2 = dict1

dict2.update({'Jessa': 90})
print(dict2)

{'Jessa': 90, 'Emma': 55}

In [79]:
people = {1: {"name" : "Jod","age": 27,"sex":"Female"},
         2:  {"name" : "Tun","age": 30,"sex":"Female"}}

print(people)

{1: {'name': 'Jod', 'age': 27, 'sex': 'Female'}, 2: {'name': 'Tun', 'age': 30, 'sex': 'Female'}}

In [81]:
jessa = {'name': 'Jessa', 'state': 'Texas', 'city': 'Houston', 'marks': 75}
emma = {'name': 'Emma', 'state': 'Texas', 'city': 'Dallas', 'marks': 60}
kelly = {'name': 'Kelly', 'state': 'Texas', 'city': 'Austin', 'marks': 85}

class_six = {'student1': jessa, 'student2': emma, 'student3': kelly}
print("Student 3 name:", class_six['student3']['name'])

print("\n Class details")
for key, value in class_six.items():
    print(key)

for nested_key, nested_value in value.items():
    print(nested_key, ':', nested_value)

Student 3 name: Kelly

 Class details
student1
student2
student3
name : Kelly
state : Texas
city : Austin
marks : 85

In [82]:
dict1 = {'c': 45, 'b': 95, 'a': 35}
print(sorted(dict1.items()))
print(sorted(dict1))

[('a', 35), ('b', 95), ('c', 45)]
['a', 'b', 'c']

In [83]:
numbers = [1, 3, 5, 2, 8]
even_squares = {x: x ** 2 for x in numbers if x % 2 == 0}

print(even_squares)

{2: 4, 8: 64}

In [84]:
telephone_book = [1178, 4020, 5786]
persons = ['Jessa', 'Emma', 'Kelly']

telephone_Directory = {key: value for key, value in zip(persons, telephone_book)}
print(telephone_Directory)

{'Jessa': 1178, 'Emma': 4020, 'Kelly': 5786}

In [86]:
numbers = [1,3,5,2, 8]
even_squares = { x: x ** 2 for x in numbers if x % 2 == 0 }

print(even_squares)

{2: 4, 8: 64}

In [87]:
dict1 = {1:'True',1:'False'}

#dictionary with one false key
dict2 = {0:'True',1:'False'}

#empty dictionary
dict3= {}

#'0' is true actually
dict4 = {'0':False}

print('All True Keys::',all(dict1))
print('One False Key',all(dict2))
print('Empty Dictionary',all(dict3))
print('With 0 in single quotes',all(dict4))

All True Keys:: True
One False Key False
Empty Dictionary True
With 0 in single quotes True

In [88]:
thislist = ["apple", "banana", "cherry"]

print(thislist)

['apple', 'banana', 'cherry']

In [89]:
print(thislist[-1])

cherry

In [90]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [91]:
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [92]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [93]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [94]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [95]:
thislist = ["apple","banana","cherry","orange","kiwi","melon","mango"]

print(thislist[-4:-2])

['orange', 'kiwi']

In [97]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8,9]
a.append(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [98]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes Apple is in the list")

Yes Apple is in the list

In [99]:
thislist = ["apple","banana","cherry"]
if "apple" in thislist :
    print("Yes Apple is in the list")

Yes Apple is in the list

In [100]:
lst[1:] # [2, 3, 4]
lst[:3] # [1, 2, 3]
lst[::2] # [1, 3]
lst[::-1] # [4, 3, 2, 1]
lst[-1:0:-1] # [4, 3, 2]
lst[5:8] # [] since starting index is greater than length of lst, returns empty list
lst[1:10]

NameError: name 'lst' is not defined

In [104]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
print(a[1:])

[2, 3, 4, 5, 6, 7, 7]

In [105]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
print(a[:3])

[1, 2, 3]

In [106]:
q = [1, 2, 3, 4, 5, 6, 7, 7]
print(a[::2])

[1, 3, 5, 7]

In [107]:
q = [1, 2, 3, 4, 5, 6, 7, 7]
print(a[::-1])

[7, 7, 6, 5, 4, 3, 2, 1]

In [110]:
q = [1, 2, 3, 4, 5, 6, 7, 7]
print(q[-1:0:-1])

[7, 7, 6, 5, 4, 3, 2]

In [111]:
q = [1,2,3,4,5,6,7,7]
print(q[5:8])

[6, 7, 7]

In [115]:
q = [1,2,3,4,5,6,7,7]
reversed(q)[0:2]

TypeError: 'list_reverseiterator' object is not subscriptable

In [116]:
thislist = ["apple","banana","cherry"]
thislist[1] = "blackcurrent"
print(thislist)

['apple', 'blackcurrent', 'cherry']

In [117]:
thislist = ["apple","banana","cherry"]
if "kiwi" in thislist : 
    print(" Yes it is in the list")
else: 
    print("It is not in the list")

It is not in the list

In [118]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [124]:
thislist = ["apple","banana","cherry","orange","kiwi","melon","mango"]
if "mango" in thislist:
    print("it exists in the list")
else: 
    print("This does not exist")

it exists in the list

In [125]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrent","Pineapple","Raspaberry"]
print(thislist)

['apple', 'blackcurrent', 'Pineapple', 'Raspaberry', 'orange', 'kiwi', 'mango']

In [126]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [127]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [129]:
thislist = ["apple","banana","cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [130]:
thislist = ["apple","banana","cherry","watermelon"]
thislist.insert(3,"pineapple")
print(thislist)

['apple', 'banana', 'cherry', 'pineapple', 'watermelon']

In [131]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [132]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [136]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [137]:
thislist = ["apple","banana","cherry"]
i = 0 
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [ ]:
i = 1
while i < 6:
    print(i)
i = i + 1

In [ ]:
i = 1
while i < 6:
  print(i)
  i = i + 1
else:
  print("i is no longer less than 6")

In [ ]:
def even_odd(num):
    if a % 2 == 0:
        print("even no")
    else:
        print("odd no")
even_odd(9)