False

In [2]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

False

In [4]:
def test_prime(n):
    if (n == 1):
        return False
    elif (n == 2):
        return True
    else:
        for x in range(2,n): 
            if(n% 2 == 0):
                return False
            return True
print(test_prime(31))

True

In [7]:
def test_prime(n):
    if (n == 1):
        return False
    elif (n == 2):
        return True
    else:
        for i in range(2,n):
            if(n % 2 ==0):
                return False
            return True
print(test_prime(9))

True

In [8]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

In [11]:
def test_range(n):
    if n in range(3,9):
        print("%s is in the range"%str(n))
    else:
        print("The number is outside the given range")
test_range(19)

The number is outside the given range

In [16]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

In [18]:
def factorial(x):
    return x
print(factorial.__doc__)
print(help(factorial))

None
Help on function factorial in module __main__:

factorial(x)

None

In [3]:
def outer_func():
    x = 777

    def inner_func():
        # local variable now acts as global variable
        nonlocal x
        x = 700
        print("value of x inside inner function is :", x)

    inner_func()
    print("value of x inside outer function is :", x)

outer_func()

value of x inside inner function is : 700
value of x inside outer function is : 700

In [19]:
def outer_func():
    x = 777
    
    def inner_func():
        nonlocal x
        x = 700
        print("value of x inside inner function is",x)
    inner_func()
    print ("Value of x inside outer function is",x)
outer_func()

In [7]:
def factorial(no):
    if (no == 0):
        return 1
    else:
        return no * factorial(no -1)
print("factorial of number is",factorial(8))

factorial of number is 40320

In [8]:
def even_numbers(nums):
    even_list = []
    for n in nums:
        if n % 2 == 0:
            even_list.append(n)
    return even_list

num_list = [10, 5, 12, 78, 6, 1, 7, 9]
ans = even_numbers(num_list)
print("Even numbers are:", ans)

Even numbers are: [10, 12, 78, 6]

In [9]:
def even_numbers(nums):
    even_list = []
    for n in nums:
        if n % 2 == 0:
            even_list.append(n)
        return even_list 
num_list = [10,5,12,78,6,1,7,9]
ans = even_numbers(num_list)
print("Even numbers are", ans)

Even numbers are [10]

In [10]:
def even_numbers(nums):
    even_list = []
    for n in nums:
        if n % 2 == 0:
            even_list.append(n)
    return even_list

num_list = [10, 5, 12, 78, 6, 1, 7, 9]
ans = even_numbers(num_list)
print("Even numbers are:", ans)

Even numbers are: [10, 12, 78, 6]

In [12]:
def function(food):
    for x in food:
        print(x)
fruits = ["apple","banana","cherry"]
function(fruits)

apple
banana
cherry

In [16]:
def even_numbers(nums):
    even_list = []
    for n in nums:
        if n % 2 == 0:
             even_list.append(n)
    return even_list
num_list = [10, 5, 12, 78, 6, 1,7, 9]
ans = even_numbers(num_list)
print("Even numbers are", ans)

Even numbers are [10, 12, 78, 6]

In [18]:
def add(a,b):
    print(a-b)
add(50,10)
add(10,50)

40
-40

In [19]:
def message(name, surname):
    print("Hello", name, surname)

message(name="John", surname="Wilson")
message(surname="Ault", name="Kelly")

Hello John Wilson
Hello Kelly Ault

In [20]:
def message(name, surname):
    print("Hello",name, surname)
message(name = "John", surname = "Wilson")
message(surname = "Ault",name="Kelly")

Hello John Wilson
Hello Kelly Ault

In [21]:
def message(name="Guest"):
    print("Hello", name)

# calling function with argument
message("John")

# calling function without argument
message()

Hello John
Hello Guest

In [22]:
def addition(*numbers):
    total = 0
    for no in numbers:
        total = total + no
    print("Sum is:", total)


# 0 arguments
addition()

# 5 arguments
addition(10, 5, 2, 5, 4)


# 3 arguments
addition(78, 7, 2.5)

Sum is: 0
Sum is: 26
Sum is: 87.5

In [23]:
def addition(*numbers):
    total = 0
    for no in numbers:
        total = total + no
    print("Sum is", total)
addition()  

addition(10,5,2,5,4)

addition(78, 7, 2.5)

Sum is 0
Sum is 26
Sum is 87.5

In [24]:
def name(first, last, middle=''):
  full_name = {'first_name': first, 'middle_name': middle, 'last_name': last}
  return full_name

data = name('Adam', 'Grook')
data1 = name('Saik', 'Grook', 'Ali')
print(data,"\n",data1)

{'first_name': 'Adam', 'middle_name': '', 'last_name': 'Grook'}
 {'first_name': 'Saik', 'middle_name': 'Ali', 'last_name': 'Grook'}

In [25]:
def name(first, last, middle =''):
    full_name = {'first_name': first, 'middle_name': middle, 'last_name': last }
    return full_name
data = name('Adam', 'Grook')
data1 = name('Saik','Grook','Ali')
print(data,"\n",data1)

{'first_name': 'Adam', 'middle_name': '', 'last_name': 'Grook'}
 {'first_name': 'Saik', 'middle_name': 'Ali', 'last_name': 'Grook'}

In [26]:
def even_numbers(nums):
    even_list = []
    for n in nums:
        if n % 2 == 0:
             even_list.append(n)
    return even_list
num_list = [10, 5, 12, 78, 6, 1,7, 9]
ans = even_numbers(num_list)
print("Even numbers are", ans)

Even numbers are [10, 12, 78, 6]

In [29]:
def even_numbers(nums):
    even_list = []
    for n in nums:
        if n % 2 ==0:
             even_list.append(n)
    return even_list
num_list = [10, 5, 12, 78, 6, 1, 7, 9]
ans = even_numbers(num_list)
print("Even numbers are", ans)

Even numbers are [10, 12, 78, 6]

In [30]:
real_list = [
{
  'Alice': 20,
  'Bob': 30,
  'Kathy': 40
},
{
  'Alice': 'Engineer',
  'Bob': 'Doctor',
  'Kathy': 'Helper'
}
]

def list_of_names(names):
  count = 1
  names = names + [{'Alice': 'Nice', 'Bob': 'Great', 'Kathy': 'Super'}]
  for name in names:
     message = f"Element {count} of list:\n{name}"
     print(message)
     count = count+1
  return names

list_of_names(real_list)
print(f"Actual List: {real_list}")

Element 1 of list:
{'Alice': 20, 'Bob': 30, 'Kathy': 40}
Element 2 of list:
{'Alice': 'Engineer', 'Bob': 'Doctor', 'Kathy': 'Helper'}
Element 3 of list:
{'Alice': 'Nice', 'Bob': 'Great', 'Kathy': 'Super'}
Actual List: [{'Alice': 20, 'Bob': 30, 'Kathy': 40}, {'Alice': 'Engineer', 'Bob': 'Doctor', 'Kathy': 'Helper'}]

In [31]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [36]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [40]:
def ingredients(*items):
 print("The ingredients is" +items[2])


ingredients('Water', 'Sugar', 'Lemon')

The ingredients isLemon

In [41]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [42]:
l = [10, 5, 12, 78, 6, 1, 7, 9]
even_nos = list(filter(lambda x: x % 2 == 0, l))
print("Even numbers are: ", even_nos)

Even numbers are:  [10, 12, 78, 6]

In [43]:
l = [10, 5, 12, 78, 6, 1, 7, 9]
even_nos = list(filter(lambda x :x %2 == 0,l))
print("even numbers are",even_nos)

even numbers are [10, 12, 78, 6]

In [44]:
list1 = [2, 3, 4, 8, 9]
list2 = list(map(lambda x: x*x*x, list1))
print("Cube values are:", list2)

Cube values are: [8, 27, 64, 512, 729]

In [45]:
list1 = [2,3,4,8,9]
list2 = list(map(lambda x:x*x*x, list1))
print("Cube values are",list2)

Cube values are [8, 27, 64, 512, 729]

In [46]:
from functools import reduce
list1 = [20, 13, 4, 8, 9]
add = reduce(lambda x, y: x+y, list1)
print("Addition of all list elements is : ", add)

Addition of all list elements is :  54

In [50]:
from functools import reduce
list1 = [20,13,4,8,9]
add = reduce(lambda x,y: x+y, list1)
print("addition of all element is:",add)

addition of all element is: 54