In [1]:
Tuple = tuple()
print(Tuple)

()

In [2]:
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [4]:
tuplex = (9,8,5,3)
print(tuplex)
print(5)

(9, 8, 5, 3)
5

In [7]:
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
print(n1+ n2 +n3)
n1, n2 , n3 = tuplex

(4, 8, 3)
15

Tuple is (10, 20, 30, 40, 50)

NameError: name 'inTuple' is not defined

In [22]:
tupleObj = (12 , 34, 45, 22, 33 )
print(tupleObj)
tupleObj = tupleObj + (19 ,20)
print(tupleObj)

(12, 34, 45, 22, 33)
(12, 34, 45, 22, 33, 19, 20)

In [23]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str = ''.join(tup)
print(str)

exercises

In [26]:
aru = ('a','r','u','n','i','m','a')
string = ''.join(aru)
print(string)

arunima

In [31]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print(tuplex)
item = tuplex[3]
print(item)
item = tuplex[-4]
print(item)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
e
u

In [32]:
from copy import deepcopy
tuplex = ("HELLO", 5, [], True) 
print(tuplex)
tuplex_colon = deepcopy(tuplex)
tuplex_colon[2].append(50)

('HELLO', 5, [], True)

In [35]:
from copy import deepcopy
tuplex = ("HELLO",5,[],True)
print(tuplex)
tuplex_colon = deepcopy(tuplex)
tuplex_colon[2].append('arunima')
print(tuplex_colon)

('HELLO', 5, [], True)
('HELLO', 5, ['arunima'], True)

In [39]:
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tuplex)
count = tuplex.count(2)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
2

In [40]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print ("r" in tuplex)
print( 5 in tuplex)

True
False

In [43]:
listx = [5, 10, 7, 4, 15, 3]
print(listx)
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

In [44]:
t = (1, 2, 3, 4, 5)
t = t[::-1]
print(t)

(5, 4, 3, 2, 1)

In [45]:
t = (1,2,3,4,5)
t = t[:-1]
print(t)

(1, 2, 3, 4)

In [46]:
t = (1,2,3,4,5)
t = t[1:]
print(t)

(2, 3, 4, 5)

In [50]:
tuplex = [1, 2, 3, 4, 5, 6]
print(tuplex)
slice = tuplex[0:5]
print(slice)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [52]:
tuplex = tuple("index tuple")
print(tuplex)
#get index of the first item whose value is passed as parameter
index = tuplex.index("p")
print(index)
#define the index from which you want to search
index = tuplex.index("p", 5)
print(index)

('i', 'n', 'd', 'e', 'x', ' ', 't', 'u', 'p', 'l', 'e')
8
8

In [57]:
tuplex = tuple("indextuple")
print(tuplex)
index = tuplex.index("p")
print(index)
index = tuplex.index ("t", 5)
print(index)

('i', 'n', 'd', 'e', 'x', 't', 'u', 'p', 'l', 'e')
7
5

In [59]:
tuplex = tuple("w3resource")
print(tuplex)
print(len(tuplex))

('w', '3', 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
10

In [61]:
tup = ((1, 'x'), (2, 'y'), (3, 'z'))
print(tup)
tup_dict = dict(tup)
print(tup_dict)

((1, 'x'), (2, 'y'), (3, 'z'))
{1: 'x', 2: 'y', 3: 'z'}

In [63]:
tup = ((1,'x'),(2,'y'),(3,'z'))
print(tup)
tup_dict = dict(tup)
print(tup_dict)

((1, 'x'), (2, 'y'), (3, 'z'))
{1: 'x', 2: 'y', 3: 'z'}

In [65]:
tuplex = ((2, "w"),(3, "r"))
print(dict((x, y) for x, y in tuplex))

{2: 'w', 3: 'r'}

In [66]:
tuplex = ((2,"w"),(3,"r"))
print(dict((x,y) for x,y in tuplex))

{2: 'w', 3: 'r'}

In [67]:
l = [(1,2), (3,4), (8,9)]
print(list(zip(*l)))

[(1, 3, 8), (2, 4, 9)]

In [69]:
l = ("Arunima",8, "SEVEN")
l_1 = l[::-1]
print(l_1)

('SEVEN', 8, 'Arunima')

In [70]:
tuples = [('Key 1', 1), ('Key 2', 2), ('Key 3', 3), ('Key 4', 4), ('Key 5', 5)]
result = dict(tuples)
print(result)

{'Key 1': 1, 'Key 2': 2, 'Key 3': 3, 'Key 4': 4, 'Key 5': 5}

In [71]:
t = (100, 200, 300)
print('This is a tuple {0}'.format(t))

This is a tuple (100, 200, 300)

In [72]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [74]:
l = [(10,20,40),(40,50,60),(70,80,90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [75]:
l = [(10,20,40),(40,50,60),(70,80,90)]
print([t[:-1]+ (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [76]:
l = [(10,20,40),(40,50,60),(70,80,90)]
print([t[:-1]+ (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [77]:
L = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
L = [t for t in L if t]
print(L)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [78]:
L = [(),(),('',),('a','b'),('a','b','c'),('d')]
L = [t for t in L if t]
print(L)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [79]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [80]:
Price = [('item1', '12.20'),('item2','15.50'),('item3', '24.50')]
print(sorted(price, key = lambda x : float(x[1]), reverse = True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [83]:
num = [10,20,30,(10,20),40]
ctr = 0
for n in num:
    if isinstance(n, tuple):
        break
    ctr += 1
print(ctr)

3

In [84]:
num  = [10,20,30,(10,20),40]

ctr = 0 
for n in num:
    if isinstance(n,tuple):
        break
    ctr += 1
print(ctr)

3

In [85]:
def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace()) 
    return result
str1 = "python 3.0"
print("Original string:")
print(str1)
print(type(str1))
print("Convert the said string to a tuple:") 
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

Original string:
python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>

In [88]:
def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace())
    return result
str1 = "Python 3.0"
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

('P', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>

In [89]:
def mutiple_tuple(nums):
    temp = list(nums)
    product = 1 
    for x in temp:
        product *= x
    return product

nums = (4, 3, 2, 2, -1, 18)
print ("Original Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",mutiple_tuple(nums))

nums = (2, 4, 8, 8, 3, 2, 9)
print ("\nOriginal Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",mutiple_tuple(nums))

Original Tuple:
(4, 3, 2, 2, -1, 18)
Product - multiplying all the numbers of the said tuple: -864

Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648

In [96]:
def multiple_tuple(nums):
    temp = list(nums)
    product = 1 
    for x in temp:
        product *= x
    return product

nums = (2, 4, 8, 8, 3, 2, 9)
print ("\nOriginal Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",multiple_tuple(nums))

Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648

In [99]:
def multiple_tuple(nums):
    temp = list(nums)
    product = 1 
    for x in temp:
        product *= x
    return product

nums = (2, 4, 8, 8, 3, 2, 9)
print ("\nOriginal Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",multiple_tuple(nums))

Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648

In [100]:
def average_tuple(nums):
    result = [sum(x) / len(x) for x in zip(*nums)]
    return result

nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
print ("Original Tuple: ")
print(nums)
print("\nAverage value of the numbers of the said tuple of tuples:\n",average_tuple(nums))

Original Tuple:
((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))

Average value of the numbers of the said tuple of tuples:
 [30.5, 34.25, 27.0, 23.25]

In [102]:
def average_tuple(nums):
    result = [sum(x)/len(x) for x in zip(*nums)]
    return result
nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
print("Original Tuple")
print(nums)

print("\nAverage value of the numbers of the said tuple of tuples:\n",average_tuple(nums))

Original Tuple
((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))

Average value of the numbers of the said tuple of tuples:
 [30.5, 34.25, 27.0, 23.25]

In [107]:
def tuple_int_str(tuple_str):
    result = tuple((int(x[0]), int(x[1])) for x in tuple_str)
    return result
tuple_str =  (('333', '33'), ('1416', '55'))
print("Original tuple values:")
print(tuple_str)
print("\nNew tuple values:")
print(tuple_int_str(tuple_str))

Original tuple values:
(('333', '33'), ('1416', '55'))

New tuple values:
((333, 33), (1416, 55))

In [108]:
x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)

print("Original lists:")
print(x)
print(y)
print(z)

print("\nElement-wise sum of the said tuples:")
result = tuple(map(sum, zip(x, y, z)))
print(result)

Original lists:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)

Element-wise sum of the said tuples:
(6, 9, 8, 6)

In [109]:
def test(lst):
    result =  map(sum, lst)
    return list(result)

nums = [(1,2), (2,3), (3,4)]
print("Original list of tuples:")
print(nums)
print("\nSum of all the elements of each tuple stored inside the said list of tuples:")
print(test(nums))

nums = [(1,2,6), (2,3,-6), (3,4), (2,2,2,2)]
print("\nOriginal list of tuples:")
print(nums)
print("\nSum of all the elements of each tuple stored inside the said list of tuples:")
print(test(nums))

Original list of tuples:
[(1, 2), (2, 3), (3, 4)]

Sum of all the elements of each tuple stored inside the said list of tuples:
[3, 5, 7]

Original list of tuples:
[(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]

Sum of all the elements of each tuple stored inside the said list of tuples:
[9, -1, 7, 8]

In [110]:
def test(lst_tuples):
    result = [list(el) for el in lst_tuples]
    return result
lst_tuples = [(1,2), (2,3), (3,4)]
print("Original list of tuples:")
print(lst_tuples)
print("Convert the said list of tuples to a list of lists:")
print(test(lst_tuples))
lst_tuples = [(1,2), (2,3,5), (3,4), (2,3,4,2)]
print("\nOriginal list of tuples:")
print(lst_tuples)
print("Convert the said list of tuples to a list of lists:")
print(test(lst_tuples))

Original list of tuples:
[(1, 2), (2, 3), (3, 4)]
Convert the said list of tuples to a list of lists:
[[1, 2], [2, 3], [3, 4]]

Original list of tuples:
[(1, 2), (2, 3, 5), (3, 4), (2, 3, 4, 2)]
Convert the said list of tuples to a list of lists:
[[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]