In [1]:
sample_set = {"Yellow","Black","Orange","Red","Blue"}
sample_list = ["Blue","Green","Red"]

sample_set.update(sample_list)
print(sample_set)

{'Black', 'Red', 'Yellow', 'Blue', 'Green', 'Orange'}

In [2]:
sample_set = {"Yellow","Black","Orange","Red","Blue"}
sample_list = ["Blue","Green","Red"]

sample_set.update(sample_list)
print(sample_set)

{'Black', 'Red', 'Yellow', 'Blue', 'Green', 'Orange'}

In [3]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

In [4]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}

In [5]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [6]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [7]:
set1 = {10,20,30}
set2 = {20,40,50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [8]:
set1 = {10, 20, 30, 40, 50}

In [9]:
set1.difference_update({10, 20, 30})

In [10]:
print(set1)

{50, 40}

In [11]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [12]:
print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [13]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

In [14]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [15]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [16]:
number_list = [20, 30, 20, 30, 50, 30]

sample_set = set(number_list)

print(sample_set)

{50, 20, 30}

In [20]:
empty_set = set()
print(empty_set)

set()

In [29]:
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
for book in book_set:
    print(book)

Angels and Demons
Atlas Shrugged
Harry Potter

In [31]:
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
if 'Harry Potter' in book_set:
    print("Book exists in the book set")
else:
    print("Book doesn't exist in the book set")

Book exists in the book set

In [33]:
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
if 'Atlas Shrugged' in book_set:
    print("Book exists in the book set")
else:
    print("Book doesn't exist in the book set")

Book exists in the book set

In [34]:
str1 = "James"
print("Original String is", str1)

Original String is James

In [35]:
res = str1[0]

In [36]:
str1 = "James"
print("Original String is",str1)

res = str1[0]

l = len(str1)
mi = int(l/2)

res = res + str1[mi]

res = res + str1[l-1]

print(res)

Original String is James
Jms

In [38]:
str1 = "James"
print("Original String is",str1)

res = str1[0]

l= len(str1)
mi = int(l/2)

res = res + str1[mi]
res = res + str1[l-1]

print(res)

Original String is James
Jms

In [42]:
def get_middle_three_chars(str1):
    print("Original String is", str1)

    # first get middle index number
    mi = int(len(str1) / 2)

    # use string slicing to get result characters
    res = str1[mi - 1:mi + 2]
    print("Middle three chars are:", res)

get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original String is JhonDipPeta
Middle three chars are: Dip
Original String is JaSonAy
Middle three chars are: Son

In [43]:
def get_middle_three_chars(str1):
    print("Original String is",str1)
    
    mi = int(len(str1)/2)
    
    res = str1[mi-1:mi + 2]
    print("Middle three chars are",res)
get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original String is JhonDipPeta
Middle three chars are Dip
Original String is JaSonAy
Middle three chars are Son

In [50]:
#Create a new string made of the first, middle, and last characters of each input string
def mix_string(s1, s2):
    # get first character from both string
    first_char = s1[0] + s2[0]

    # get middle character from both string
    middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]

    # get last character from both string
    last_char = s1[len(s1) - 1] + s2[len(s2) - 1]

    # add all
    res = first_char + middle_char + last_char
    print("Mix String is ", res)

s1 = "America"
s2 = "Japan"
mix_string(s1, s2)

Mix String is  AJrpan

In [52]:
def mix_string(s1,s2):
    first_char = s1[0] + s2[0]
    middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]
    last_char = s1[len(s1)-1] + s2[len(s2)-1]
    res = first_char + middle_char + last_char
    print("Mix string is",res)
s1 = "America"
s2 = "Japan"
                         
mix_string(s1,s2)

Mix string is AJrpan

In [53]:
str1 = "PYnAtivE"
print('Original String:', str1)
lower = []
upper = []
for char in str1:
    if char.islower():
        lower.append(char)
    else:
        upper.append(char)
sorted_str = ''.join(lower + upper)
print('Result:', sorted_str)

Original String: PYnAtivE
Result: ntivPYAE

In [54]:
str1 = "PYnAtivE"
print("Original String",str1)
lower = []
upper = []
for char in str1:
    if char.islower():
        lower.append(char)
    else: 
        upper.append(char)
sorted_str = ''.join(lower + upper)
print('Result',sorted_str)

Original String PYnAtivE
Result ntivPYAE

In [55]:
str1 = "PYnAtivE"
print("Original String",str1)
lower = []
upper = []

for char in str1:
    if char.islower():
        lower.append(char)
    else:
        upper.append(char)
sorted_str = ''.join(lower + upper)
print('Result',sorted_str)

Original String PYnAtivE
Result ntivPYAE

In [56]:
def find_digits_chars_symbols(sample_str):
    char_count = 0
    digit_count = 0
    symbol_count = 0
    for char in sample_str:
        if char.isalpha():
            char_count += 1
        elif char.isdigit():
            digit_count += 1
        # if it is not letter or digit then it is special symbol
        else:
            symbol_count += 1

    print("Chars =", char_count, "Digits =", digit_count, "Symbol =", symbol_count)

sample_str = "P@yn2at&#i5ve"
print("total counts of chars, Digits, and symbols \n")
find_digits_chars_symbols(sample_str)

total counts of chars, Digits, and symbols

Chars = 8 Digits = 2 Symbol = 3

In [60]:
def find_digits_chars_symbols(sample_str):
    char_count = 0 
    digit_count = 0 
    symbol_count = 0
    for char in sample_str:
        if char.isalpha():
            char_count += 1
        elif char.isdigit():
            digit.count += 1
        else:
            symbol_count += 1
    print("Chars=",char_count, "Digits=",digit_count,"Symbol=",symbol_count)
    sample_str = "P@yn2at&#i5ve"
    print ("total counts of chars, Digits, and symbol\n")
    find_digits_chars_symbols(sample_str)

In [ ]:
s1 = "Abc"
s2 = "Xyz"

# get string length
s1_length = len(s1)
s2_length = len(s2)

# get length of a bigger string
length = s1_length if s1_length > s2_length else s2_length
result = ""

# reverse s2
s2 = s2[::-1]

# iterate string 
# s1 ascending and s2 descending
for i in range(length):
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]

print(result)

In [63]:
s1 = "Abc"
s2 = "Xyz"

# get string length
s1_length = len(s1)
s2_length = len(s2)

# get length of a bigger string
length = s1_length if s1_length > s2_length else s2_length
result = ""

# reverse s2
s2 = s2[::-1]

# iterate string 
# s1 ascending and s2 descending
for i in range(length):
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]

print(result)

AzbycX

In [64]:
s1 = "Abc"
s2 = "Xyz"

s1_length = len(s1)
s2_length = len(s2)

length = s1_length if s1_length > s2_length else s2_length
result = ""

s2 = s2[::-1]

for i in range(length): 
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]
print(result)

AzbycX

In [65]:
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"

temp_str = str1.lower()
count = temp_str.count(sub_string.lower())

print(count)

2

In [66]:
#Reverse a string 

String1 = "ARUNIMA"
string2 = String1[::-1]
print(string2)

AMINURA

In [67]:
from collections import Counter
str1 = "Apple"
res = Counter(str1)
print(res)

Counter({'p': 2, 'A': 1, 'l': 1, 'e': 1})

In [68]:
input_str = "PYnative29@#8496"
total = 0
cnt = 0
for char in input_str:
    if char.isdigit():
        total += int(char)
        cnt += 1

# average = sum / count of digits
avg = total / cnt
print("Sum is:", total, "Average is ", avg)

Sum is: 38 Average is  6.333333333333333

In [69]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

In [70]:
new_str_list = list(filter(None, str_list))

In [71]:
print(new_str_list)

['Emma', 'Jon', 'Kelly', 'Eric']

In [72]:
str_list = ["Emma","Jon","","Kelly",None,"Eric",""]

In [73]:
new_str_list = list(filter(None,str_list))

In [74]:
print(new_str_list)

['Emma', 'Jon', 'Kelly', 'Eric']

In [75]:
str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)

sub_strings = str1.split("-")
print("Displaying each substring")
for sub in sub_strings:
    print(sub)

Original String is: Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

In [76]:
str1 = "Emma-is-a-data-scientist"
print("Displaying String is",str1)

sub_strings = str1.split("-")
print("Displaying each substring")

for sub in sub_strings:
    print(sub)

Displaying String is Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

In [77]:
import string

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

new_str = str1.translate(str.maketrans('', '', string.punctuation))

print("New string is ", new_str)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

In [81]:
import string 
str1 = "/*Jon is @developer & musician"
print("Original string is",str1)

new_str = str1.translate(str.maketrans('','',string.punctuation))

print("New string is", new_str)

Original string is /*Jon is @developer & musician
New string is Jon is developer  musician

In [79]:
str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

Original string is I am 25 years and 10 months old

In [82]:
res = "".join([item for item in str1 if item.isdigit()])

In [84]:
print(res)

In [88]:
test_str = 'Emma is a data scientist50 and AI Expert"
  
# printing original string
print("The original string is : " + test_str)
  
# Words with both alphabets and numbers
# Using isdigit() + isalpha() + any()
res = []
temp = test_str.split()
for idx in temp:
    if any(chr.isalpha() for chr in idx) and any(chr.isdigit() for chr in idx):
        res.append(idx)
          
# printing result 
print("Words with alphabets and numbers : " + str(res))

SyntaxError: EOL while scanning string literal (Temp/ipykernel_6504/27430358.py, line 1)

In [89]:
test_str = 'Emma is a data scientist50 and AI Expert'
print("The origibal string is:" + test_str)

res = []
temp = test_str.split()
for idx in temp:
    if any(chr.isalpha() for chr in idx) and any(chr.isdigit()for chr in idx):
        res.append(idx)
        
print("Words with alphanets and numbers:"+str(res))

The origibal string is:Emma is a data scientist50 and AI Expert
Words with alphanets and numbers:['scientist50']

In [91]:
"ARUNIMA".casefold()

'arunima'

In [93]:
"This is a string".upper()

'THIS IS A STRING'

In [96]:
"THIS IS A STRING".lower()

'this is a string'

In [ ]:
"this Is A 'String'.".capitalize()

In [100]:
"this Is a 'String'".title()

"This Is A 'String'"

In [101]:
"this iS A STRiNG".swapcase()

'THIS Is a strIng'

In [108]:
'this syntax is very useful'.translate(None, 'aeiou')

TypeError: str.translate() takes exactly one argument (2 given)

In [109]:
"I am from {}. I love cupcakes from {}!".format("Australia", "Australia")

'I am from Australia. I love cupcakes from Australia!'

In [110]:
"I am from {0}. I love cupcakes from {0}!".format("Australia")

'I am from Australia. I love cupcakes from Australia!'

In [111]:
"I am from {}.I love cupcakes from {}!".format("Australia","Australia")

'I am from Australia.I love cupcakes from Australia!'

In [112]:
"I am from {0}. I love cupcakes from{0}!".format("India","India")

'I am from India. I love cupcakes fromIndia!'

In [117]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [118]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [129]:
string.digits

'0123456789'

In [130]:
string.hexdigits:

'0123456789abcdefABCDEF'

In [131]:
string.octaldigits:

SyntaxError: invalid syntax (Temp/ipykernel_6504/3658971001.py, line 1)

In [133]:
 " a line with leading and trailing space ".strip()

'a line with leading and trailing space'

In [136]:
"spacious string ".rstrip()

'spacious string'

In [137]:
" spacious string ".rstrip()

' spacious string'

In [139]:
reversed('hello')
[char for char in reversed('hello')]

['o', 'l', 'l', 'e', 'h']

In [140]:
''.join(reversed('hello'))

'olleh'

In [141]:
reversed('hello')
[char for char in reversed('hello')]
''.join(reversed('hello'))

'olleh'

In [142]:
reversed('hello')
[char for char in reversed('hello')]
''.join(reversed('hello'))

'olleh'

In [143]:
reversed('hello')
[char for char in reversed('hello')]
''.join(reversed('hello'))

'olleh'

In [144]:
def reversed_string(main_string):
    return main_string[::-1]
reversed_string('hello')

'olleh'

In [145]:
def reversed_string(main_string):
    return main_string[::-1]
reversed_string('hello')

'olleh'

In [152]:
def course_func(name, course_name):
    print("Hello", name, "Welcome to PYnative")
    print("Your course name is", course_name)
    
course_func('John', 'Python')

Hello John Welcome to PYnative
Your course name is Python

In [154]:
def add(num1,num2):
    print("num1:",num1)
    print("num2:",num2)
    addition = (num1 + num2)
    return addition
res= add(2,4)
print(res)

num1: 2
num2: 4
6

In [156]:
def message():
    print("Welcome to Pynative")
message()

Welcome to Pynative

In [157]:
def even_odd(n):
    if n % 2 == 0:
         print('Even number')
    else: 
        print('Odd Number')
even_odd(19)

Odd Number

number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime
number is prime

In [169]:
def add(num1, num2,num3,num4,num5):
    addition = (num1 + num2 + num3 + num4+ num5)
    return addition
res = add(8,2,3,0,7)
print(res)

20

In [172]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total 
res = sum((8,2,3,0,7))
print(res)

20

In [175]:
def mult(num1,num2,num3,num4,num5):
    multiplication = (num1 * num2 * num3 *num4 *num5)
    return multiplication
res = mult(8, 2, 3, -1, 7)
print(res)

-336

In [185]:
def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('1234abcd'))

dcba4321

In [186]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 9
362880

In [187]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n = int(input("Input a number to compute the factorial:"))
print(factorial(n))

Input a number to compute the factorial:6
720