IndentationError: unexpected indent (Temp/ipykernel_704/3270954752.py, line 4)

In [20]:
greeting = "Hello, World!"

for char in reversed(greeting):
    print(char)

!
d
l
r
o
W

,
o
l
l
e
H

In [18]:
from collections import Counter

My_list = [1,2,1,2,3,8,6,6]
res= Counter(My_list)
print(res)

Counter({1: 2, 2: 2, 6: 2, 3: 1, 8: 1})

In [16]:
#remove duplicate from a list

mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)

ModuleNotFoundError: No module named 'mysql'

In [22]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [35]:
def multiplication_sum(num1,num2):
    product = num1 * num2
    if product <=1000:
        return product 
    else:
        return num1 + num2 
result = multiplication_sum(20,30)
print ("The result is",result)
result = multiplication_sum(40,60)
print ("The result is", result)

The result is 600
The result is 100

In [34]:
def multiplication_or_sum(num1, num2):
    # calculate product of two number
    product = num1 * num2
    # check if product is less then 1000
    if product <= 1000:
        return product
    else:
        # product is greater than 1000 calculate sum
        return num1 + num2

# first condition
result = multiplication_or_sum(20, 30)
print("The result is", result)

# Second condition
result = multiplication_or_sum(40, 30)
print("The result is", result)

The result is 600
The result is 70

In [37]:
name, age, marks = input("Enter your Name, Age, Percentage separated by space ").split()
print("User Details: ", name, age, marks)

Enter your Name, Age, Percentage separated by space Arunima 30 80.05
User Details:  Arunima 30 80.05

In [38]:
#Accept multiline input from user

data = []
print("Tell me about yourself")
while True:
    line = input()
    if line:
        data.append(line)
    else:
        break
finalText = '\n'.join(data)
print("\n")
print("Final text input")
print(finalText)

Tell me about yourself
Arunima De
Python programmer
Lives in Saltlake city

KeyboardInterrupt: Interrupted by user

In [ ]:
data = []
print("Tell me about yourself")
while True:
    line = input()
    if line:
        data.append(line)
    else:
        break
finalText = '\n'.join(data)
print("\n")
print("Final text input")
print(finalText)

In [39]:
num_list = [10, 20.5, 30, 45.5, 50]
res1 =0
for num in num_list:
    res1 += num 
    avg1 = res1/len(num_list)
print("sum is: ", res1, "Average is: ", avg1)

sum is:  156.0 Average is:  31.2

In [40]:
#Sum and average using a mathematical formula
n = 20
# formula to calculate sum
res = n * (n + 1) / 2
print('sum of first', n, 'numbers is:', res)
# Output sum of first 20 numbers is: 210.0

# formula to calculate average
average = (n * (n + 1) / 2) / n
print('Average of first', n, 'numbers is:', average)

sum of first 20 numbers is: 210.0
Average of first 20 numbers is: 10.5

In [41]:
input_string = input('Enter numbers separated by space ')
print("\n")
# Take input numbers into list
numbers = input_string.split()

# convert each item to int type
for i in range(len(numbers)):
    # convert each item to int type
    numbers[i] = int(numbers[i])

# Calculating the sum and average
print("Sum = ", sum(numbers))
print("Average = ", sum(numbers) / len(numbers))

Enter numbers separated by space 10 20 30 40 50


Sum =  150
Average =  30.0

In [42]:
input_string = input("Enter numbers separated by space")
print("\n")
numbers = input_string.split()

for i in range(len(numbers)):
    numbers[i] = int(numbers[i])
print("Sum",sum(numbers))
print("Average",sum(numbers)/len(numbers))

Enter numbers separated by space10 20 30 40 50


Sum 150
Average 30.0

In [43]:
# Write a while loop for calculate sum and average 

n = 20
total_numbers = n
sum = 0
while n >= 0:
    sum += n
    n -= 1
print("sum =", sum)
# Output sum = 210

average = sum / total_numbers
print("Average = ", average)
# Output Average =  10.5

sum = 210
Average =  10.5

In [53]:
n = 20
total_numbers = n
sum = 0
while n >= 0:
    sum += n
    n -= 1
print("sum =", sum)
# Output sum = 210

average = sum / total_numbers
print("Average = ", average)

sum = 210
Average =  10.5

In [54]:
matrixOne = [[6,9,11],
    [2 ,3,8]]

matrixTwo = [[15,18,11],
    [26,16,19]]

result = [[0,0,0],
         [0,0,0]]

# First iterate rows
for i in range(len(matrixOne)):
   # Second iterate columns
   for j in range(len(matrixOne[0])):
       result[i][j] = matrixOne[i][j] + matrixTwo[i][j]
print("Addition of two Matrix In Python")
for res in result:
   print(res)

Addition of two Matrix In Python
[21, 27, 22]
[28, 19, 27]

In [62]:
matrixOne = [[6,9,11],
    [2 ,3,8]]

matrixTwo = [[15,18,11],
    [26,16,19]]

result = [[0,0,0],
         [0,0,0]]

for i in range (len(matrixOne)):
    for j in range (len(matrixOne[0])):
        result[i][j] = matrixOne[i][j] + matrixTwo[i][j]
        
print ("Addition of two matrix in Python")
for res in result:
    print(res)

Addition of two matrix in Python
[21, 27, 22]
[28, 19, 27]

In [63]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

Removing characters from a string
Original string: pynative
tive
Original string: pynative
native

In [64]:
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [70]:
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [75]:
num_list = [9,7,15,35,8]
print("given list",num_list)
print("divisible by 5")
for num in num_list:
    if (num % 5)==0:
        print(num)

given list [9, 7, 15, 35, 8]
divisible by 5
15
35

In [77]:
str_x = "Emma is good developer. Emma is a writer"
print("the occurance of emma appear in a string",str_x.count("Emma"))

the occurance of emma appear in a string 2

In [79]:
for num in range(8):
    for i in range(num):
        print(num, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

In [80]:
def palindrome(number):
    print("original number", number)
    original_num = number
    
    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(121)
palindrome(125)

original number 121
Given number palindrome
original number 125
Given number is not palindrome

In [87]:
def palindrome (number):
    print("original number",number)
    original_num = number
    reverse_num =0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10)+ reminder 
        number = number // 10
        
        if original_num == reverse_num:
            print("given number is palindrome")
        else:
            print("Given number is not palindrome")
            
palindrome(121)
palindrome (125)

original number 121
Given number is not palindrome
Given number is not palindrome
given number is palindrome
original number 125
Given number is not palindrome
Given number is not palindrome
Given number is not palindrome

In [ ]:
#Create a new list from a two list using the following condition

In [88]:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

SyntaxError: invalid syntax (Temp/ipykernel_9692/1185458606.py, line 1)

In [3]:
example = ["Sunday","Monday","Tuesday"]

example1 = ["Weekdays","Weekends"]

example1 = example1 * 3
print(example1)

['Weekdays', 'Weekends', 'Weekdays', 'Weekends', 'Weekdays', 'Weekends']

In [4]:
python -m pip install mysql-connector-python

Enter a elements of a list separated by value60 70 54 65 23


list ['60', '70', '54', '65', '23']

In [ ]:
n = int(input("Enter number of lists"))
list1 = []
for i in range(n):
    list.append(int(input()))
    
    sum_list1=0
    for i in list1:
        sum_list1 = sum_list1 + i 
    print("sum of list are", sum_list1)