In [7]:
class Person:
    def __init__(self,name,age,profession):
        self.name = name
        self.age = age
        self.profession = profession
        
    def show(self):
        ("Name:",self.name,"Age",self.age)
        
    def work(self):
        (self.name, "working as a", self.profession)
    
Arunima= Person('Arunima','31','Python Developer')

Arunima.show()
Arunima.work()

In [8]:
class Person:
    def __init__(self,name,age,profession):
        self.name = name
        self.age = age
        self.profession = profession
        
    def show(self):
        ("Name:",self.name,"Age",self.age)
        
    def work(self):
        (self.name, "working as a", self.profession)
    
Arunima= Person('Arunima','31','Python Developer')

Arunima.show()
Arunima.work()

In [18]:
class Person:
    def __init__(self,name,age,profession):
        self.name = name
        self.age = age
        self.profession = profession
        
    def show(self):
        print("Name:",self.name,"Age",self.age)
        
    def work(self):
        print(self.name, "working as a", self.profession)
    
Arunima= Person('Arunima','31','Python Developer')

Arunima.show()
Arunima.work()

Name: Arunima Age 31
Arunima working as a Python Developer

In [38]:
class student:
    school_name = 'BD school'
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
s1 = student("Anuradha",13)
print("student:",s1.name, s1.age)

print("school name",student.school_name)

s1.name = 'Rimka'
s1.age = 12

print("student", s1.name, s1.age)

student.school_name = 'xyz school'
print("school name", student.school_name)

student: Anuradha 13
school name BD school
student Rimka 12
school name xyz school

In [28]:
class Student:
    # class variable
    school_name = 'ABC School'

    # constructor
    def __init__(self, name, age):
        # instance variables
        self.name = name
        self.age = age

    # instance method
    def show(self):
        # access instance variables and class variables
        print('Student:', self.name, self.age, Student.school_name)

    # instance method
    def change_age(self, new_age):
        # modify instance variable
        self.age = new_age

    # class method
    @classmethod
    def modify_school_name(cls, new_name):
        # modify class variable
        cls.school_name = new_name

s1 = Student("Harry", 12)

# call instance methods
s1.show()
s1.change_age(14)

# call class method
Student.modify_school_name('XYZ School')
# call instance methods
s1.show()

Student: Harry 12 ABC School
Student: Harry 14 XYZ School

In [36]:
class Vehicle:
    def __init__(self,max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
    
    
    def show(self):
        print("Max speed is",self.max_speed)
        print("Mileage is", self.mileage)
        
Audi= Vehicle("500km",250)
Audi.show()

Max speed is 500km
Mileage is 250

In [37]:
class Vehicle:
    pass

In [53]:
class Student_Info:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

Student = Student_Info("Anuradha",13)
print("student and marks :",Student.name, Student.marks)

s1.name = 'Arunima'
s1.marks = 13

print("Modified student name and marks is:",s1.name, s1.marks)

student and marks : Anuradha 13
Modified student name and marks is: Arunima 13

In [ ]:
class Student:
    student_id = 'V10'
    student_name = 'Jacqueline Barnett'
    def display():
        print(f'Student id: {Student.student_id}\nStudent Name: {Student.student_name}')
print("Original attributes and their values of the Student class:")
Student.display()

In [70]:
class student:
    def __init__(self,studentid, name):
        self.studentid = studentid
        self.name = name
       
s1 = student(13,"Anuradha")
print("student:",s1.studentid, s1.name)
for attr, value in Student.__dict__.items():
    if not attr.startswith('_'):
        print(f'{attr} -> {value}')
print("\nAfter adding the student_class, attributes and their values with the said class:")
Student.student_class  = 'V'
for attr, value in Student.__dict__.items():
    if not attr.startswith('_'):
        print(f'{attr} -> {value}')

student: 13 Anuradha
student_class -> V

After adding the student_class, attributes and their values with the said class:
student_class -> V

After removing the student_name, attributes and their values from the said class:

AttributeError: student_name

In [ ]:
import pandas as pd

In [71]:
data = [['Alex',10],['Bob',12],['Clarke',13]]

In [74]:
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)

NameError: name 'pd' is not defined

In [75]:
import pandas as pd

In [76]:
data = [['Alex',10],['Bob',12],['Clarke',13]]

In [77]:
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)

C:\Users\Arunima\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [78]:
df

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [79]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}

In [80]:
df = pd.DataFrame(data)

In [81]:
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [82]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}

In [83]:
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])

In [84]:
df

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [87]:
import pandas as pd

In [89]:
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[90,56,43,45]}

In [90]:
df = pd.DataFrame(data, index = ['rank1', 'rank2', 'rank3','rank4'])

In [91]:
df

        Name  Age
rank1    Tom   90
rank2   Jack   56
rank3  Steve   43
rank4  Ricky   45

In [92]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

In [93]:
df = pd.DataFrame(data)

In [94]:
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [95]:
data = [{'a':1,'b':2},{'a':5,'b':6,'c':20}]

In [97]:
df = pd.DataFrame(data, column= ['a','b','c'])

TypeError: __init__() got an unexpected keyword argument 'column'

In [98]:
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [99]:
data = [{'a':1,'b':2},{'a':5,'b':6,'c':6}]

In [100]:
df = pd.DataFrame(data, index= [1,2])

In [101]:
print(df)

   a  b    c
1  1  2  NaN
2  5  6  6.0

In [103]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [107]:
import pandas as pd
d = {'one':pd.Series([1,2,3], index = ['a','b','c']),
     'two' : pd.Series([1,2,3,4], index = ['a','b','c','d'])}

df= pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [111]:
import pandas as pd 

d = {'one':pd.Series([1,2,3], index = ['a','b','c']),
     'two' : pd.Series([1,2,3,4], index = ['a','b','c','d'])}

df = pd.DataFrame(d)
print (df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [114]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

df['three'] = pd.Series([10,20,30], index = ['a','b','c'])
print(df)

df['four'] = df['three'] + df['one']
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [115]:
df.pop('two') 
print(df)

   one  three  four
a  1.0   10.0  11.0
b  2.0   20.0  22.0
c  3.0   30.0  33.0
d  NaN    NaN   NaN

In [117]:
del df['one']

In [118]:
df

   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [121]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [123]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [125]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [134]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)
df = df.drop(0)
df

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

   a  b
1  3  4
1  7  8

In [136]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print (s)

0    1.236843
1    1.267970
2    0.041212
3   -0.255410
dtype: float64

In [138]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print ("The axes are:")
print (s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [139]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("Is the Object empty?")
print (s.empty)

Is the Object empty?
False

In [141]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The dimensions of the object:")
print (s.ndim)

0    0.908755
1    0.647418
2   -0.551001
3   -1.733496
dtype: float64
The dimensions of the object:
1

In [142]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(2))
print (s)
print ("The size of the object:")
print (s.size)

0    1.695592
1   -0.446886
dtype: float64
The size of the object:
2

In [143]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The actual data series is:")
print (s.values)

0   -0.489163
1   -0.446809
2   -1.939180
3    0.358515
dtype: float64
The actual data series is:
[-0.48916294 -0.44680917 -1.93918012  0.35851541]

In [145]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The last two rows of the data series:")
print (s.tail(2))

The original series is:
0   -1.188445
1    0.709026
2   -0.616301
3    0.418511
dtype: float64
The last two rows of the data series:
2   -0.616301
3    0.418511
dtype: float64

In [147]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [149]:
import pandas as pd
import numpy as np
 
# Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

# Create a DataFrame
df = pd.DataFrame(d)
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [150]:
import pandas as pd
import numpy as np
 
# Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

df = pd.DataFrame(d)
print("the transpose of series is")
print(df.T)

the transpose of series is
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [152]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [153]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object