In [2]:
 def display_student(name, age):
    print(name, age)
display_student("Emma", 26)

showStudent = display_student
print(showStudent)

Emma 26
<function display_student at 0x0000020389FFC940>

In [4]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [5]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
s = 0
n = int(input("Enter number "))
# run loop n times
# stop: n+1 (because range never include stop number in result)
for i in range(1, n + 1, 1):
    # add current number to sum variable
    s += i
print("\n")
print("Sum is: ", s)

Enter number 2


Sum is:  3

In [13]:
n = int(input("Enter number"))
x = sum(range(1,n+1))
print("sum is", x)

Enter number10
sum is 55

In [15]:
s = 0
n = int(input("Enter a number"))
for i in range(1,n+1,1):
    s += i
print("Sum is", s)

Enter a number10
Sum is 55

In [17]:
n = 2
for i in range(1,11,1):
    product = n * i
    print(product)

2
4
6
8
10
12
14
16
18
20

In [22]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

In [23]:
num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [24]:
num = 3452
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Number of digits: 4

In [29]:
num = 3452
count = 0

while num!= 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 4

In [30]:
num = 7865
count = 0

while num!= 0:
    num = num // 10
    count = count + 1
print("Total digits are", count)

Total digits are 4

In [33]:
list1 = [10,20,30,40,50]
new_list = reversed(list1)
for item in new_list:
    print(item)

50
40
30
20
10

In [37]:
fish = {'name': "Nemo", 'hands': "fins", 'special': "gills"}
dog = {'name': "Clifford", 'hands': "paws", 'color': "red"}
fishdog = {**fish, **dog}
fishdog

{'name': 'Clifford', 'hands': 'paws', 'special': 'gills', 'color': 'red'}

In [38]:
fish = {'name': "Nemo", 'hands': "fins", 'special': "gills"}
dog = {'name': 'Clifford','hands': "paws",'color':"red"}
fishdog = {**fish,**dog}
fishdog

{'name': 'Clifford', 'hands': 'paws', 'special': 'gills', 'color': 'red'}

In [39]:
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

In [40]:
n = 5
start = 2
sum_seq = 0

for i in range(0,n):
    print(start, end = "+")
    sum_seq +=start
    
    start = start * 10 + 2
    print("sum of above series is", sum_seq)

2+sum of above series is 2
22+sum of above series is 24
222+sum of above series is 246
2222+sum of above series is 2468
22222+sum of above series is 24690

In [46]:
input_number = 6
for i in range (1, input_number + 1):
     print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [47]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [48]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
    
    print("Reversed Number: " + str(reversed_num))

Reversed Number: 4
Reversed Number: 43
Reversed Number: 432
Reversed Number: 4321

In [49]:
num = 123456
print(str(num)[::-1])

654321

In [50]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [60]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")
for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [61]:
for i in range(5):
    print(i)

0
1
2
3
4

In [62]:
for num in range(-10,0,1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [68]:
Dict = {0:1,1:2,2:4}

def is_key_present(x):
    if x in Dict:
        print(" is present in the dictionary")
    else:
        print(" is not present in the dictionary")
is_key_present(0)

 is present in the dictionary

In [70]:
Dict = {0:1,1:2,2:4}
for key, value in Dict.items():
    print(key,value)

0 1
1 2
2 4

In [72]:
#Write a program to print only keys of a dictionary.

Dict = {0:1,1:2,2:3,3:4}
for key in Dict.keys():
    print(key)

0
1
2
3

In [74]:
Dict = {0:1,1:2,2:3,3:4}
for value in Dict.values():
    print(value)

1
2
3
4

In [79]:
fish = {'name': "Nemo", 'hands': "fins", 'special': "gills"}
dog = {'name': "Clifford", 'hands': "paws", 'color': "red"}
fishdog = {**fish, **dog}
fishdog

{'name': 'Clifford', 'hands': 'paws', 'special': 'gills', 'color': 'red'}

In [80]:
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']

color_dictionary = dict(zip(keys, values))
print(color_dictionary)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [81]:
dt = {5:4, 1:6, 6:3}
sorted_dt = {key: value for key, value in sorted(dt.items(), key=lambda item: item[1])}

print(sorted_dt)

{6: 3, 5: 4, 1: 6}

In [82]:
dt = {5:4, 1:6, 6:3}
sorted_dt = {key: value for key, value in sorted(dt.items(), key=lambda item: item[1])}
print(sorted_dt)

{6: 3, 5: 4, 1: 6}

In [83]:
dt = {5:4, 1:6, 6:3}
sorted_dt = {key:value for key, value in sorted(dt.items(), key = lambda item : item[1])}
print(sorted_dt)

{6: 3, 5: 4, 1: 6}

In [84]:
dt = {5:4,1:6,6:3}
sorted_dt = {key:value for key, value in sorted(dt.items(), key = lambda item :item[1])}

print(sorted_dt)

{6: 3, 5: 4, 1: 6}

In [89]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in dic1, dic2, dic3: 
    dic4.update(d)
    print(dic4)

{1: 10, 2: 20}
{1: 10, 2: 20, 3: 30, 4: 40}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [90]:
def returnSum(myDict):
 
    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)
 
    return final
 
 
# Driver Function
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [91]:
def returnSum(myDict):
    list = []
    for i in myDict:
        list.append(myDict[i
                           
                           
                           
                           
                           
                           
                           
    final = sum(list)
    return final 

dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [93]:

myDict = {'x': 250, 'y':500, 'z':410}
print("Dictionary: ", myDict)

# Print Values using get
print("\nSum of Values: ", sum(myDict.values()))

Dictionary:  {'x': 250, 'y': 500, 'z': 410}

Sum of Values:  1160

In [95]:
dict1 = {1:"Mon",2:"Tue",3:"Wed"}
dict2 = {}
# Given dictionaries
print("The original dictionary : " ,(dict1))
print("The original dictionary : " ,(dict2))
# Check if dictionary is empty
if dict1:
   print("dict1 is not empty")
else:
   print("dict1 is empty")
if dict2:
   print("dict2 is not empty")
else:
   print("dict2 is empty")

The original dictionary :  {1: 'Mon', 2: 'Tue', 3: 'Wed'}
The original dictionary :  {}
dict1 is not empty
dict2 is empty

In [97]:
def sum_of_dictionary(myDict):
    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)
    return final
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", sum_of_dictionary(dict))

Sum : 600

In [98]:
def sum_of_dict(myDict):
    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)
    return final 
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", sum_of_dictionary(dict))

Sum : 600

In [100]:
dict1 = {1:"Mon",2:"Tue",3:"Wed"}
dict2 = {}

print("The original dictionary : " ,(dict1))
print("The original dictionary ", (dict2))

if dict1:
    print("The dictionary is not empty")
else:
    print("Dictionary is empty")
    
if dict2:
    print("The dictionary  is not empty")
else:
    print("Dictionary is empty")

The original dictionary :  {1: 'Mon', 2: 'Tue', 3: 'Wed'}
The original dictionary  {}
The dictionary is not empty
Dictionary is empty

In [103]:
duplicate_list = [2,3,4,2,2]
deduplicated_list = []
for x in duplicate_list:
    if x not in deduplicated_list:
            deduplicated_list.append(x)
print(duplicate_list)
print(deduplicated_list)

[2, 3, 4, 2, 2]
[2, 3, 4]

In [104]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
     
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [106]:
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}


result = {}
for key,value in student_data.items():
    if value not in result.values():
        result[key] = value
print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [112]:
#Write a program in python to map keys to dictionary.
# Write a program to check whether a key exists in the dictionary or not.
#Write a program to sort dictionary values in python.
#Write a program in Python to choose a random item from a list.
key = ['Fruit','Vegetable']
value = ['Mango', 'Tomato']

dict1 = dict(zip(key, value))
print(dict1)

TypeError: 'dict' object is not callable

In [115]:
dt = {5:4, 1:6, 6:3}

sorted_dt = {key: value for key, value in sorted(dt.items(), key=lambda item: item[1])}

print(sorted_dt)

{6: 3, 5: 4, 1: 6}