In [1]:
my_array = array('i',[1,2,3,4])

NameError: name 'array' is not defined

In [2]:
from array import *

In [3]:
my_array = array('i', [1,2,3,4,5])

In [5]:
for i in my_array:
    print(my_array)

array('i', [1, 2, 3, 4, 5])
array('i', [1, 2, 3, 4, 5])
array('i', [1, 2, 3, 4, 5])
array('i', [1, 2, 3, 4, 5])
array('i', [1, 2, 3, 4, 5])

In [7]:
my_array = array('i',[1,2,3,4,5])
my_array.append(6)

In [8]:
print(my_array)

array('i', [1, 2, 3, 4, 5, 6])

In [9]:
my_array.insert(0,0)

In [10]:
my_array = array('i', [1,2,3,4,5])

In [11]:
my_extend_array = array('i', [7,8,9,10])

In [12]:
my_array.extend(my_extend_array)

In [13]:
print(my_array.extend)

<built-in method extend of array.array object at 0x000001C8CD093DF0>

In [14]:
my_array = array('i', [1,2,3,4,5])
c = [11,12,13]
my_array.fromlist(c)
print(my_array)

array('i', [1, 2, 3, 4, 5, 11, 12, 13])

In [15]:
my_array = array('i',[1,2,3,4,5])
my_array.remove(4)
print(my_array)

array('i', [1, 2, 3, 5])

In [16]:
my_array = array('i',[7,8,9,10,11])
my_array.pop()
print(my_array)

array('i', [7, 8, 9, 10])

In [17]:
my_array = array('i', [1,2,3,4,5])
print(my_array.index(5))

4

In [18]:
my_array = array('i', [1,2,3,3,5])
print(my_array.index(3))

2

In [19]:
my_array = array('i', [1,2,3,4,5])
my_array.reverse()
print(my_array)

array('i', [5, 4, 3, 2, 1])

In [22]:
my_array = array('i', [1,2,3,4,5])
my_array.buffer_info()
print(my_array)

array('i', [1, 2, 3, 4, 5])

In [24]:
my_array = array('i', [1,2,3,3,5])
my_array.count(3)

2

In [27]:
my_array = array('i', [1,2,3,4,5])
c = my_array.tolist()
print(c)

[1, 2, 3, 4, 5]

In [38]:
import array as arr

    b = arr.array('d', [2.5, 3.2, 3.3])
 
print ("Array before insertion : ", end =" ")
for i in range (0, 3):
    print (b[i], end =" ")
print()
b.append(4.4)
print ("Array after insertion : ", end =" ")
for i in (b):
    print (i, end =" ")
print()

Array before insertion :  0
1
2
Array before insertion :  2.5 3.2 3.3
Array after insertion :  2.5 3.2 3.3 4.4

In [40]:
import array as arr

a = arr.array('i', [1, 2, 3, 4, 5, 6])
print("Access element is: ", a[0])
print("Access element is", a[3])
print("Access element is",a[2])

Access element is:  1
Access element is 4
Access element is 3

In [56]:
import array

arr = array.array('i', [1, 2, 3, 1, 5])
print ("The new created array is : ", end ="")
for i in range(0,5):
    print(arr[i], end = " ")
print("The popped element is")
print (arr.pop(2))
for i in range (0, 4):
    print (arr[i], end =" ")
arr.remove(1)
print ("The array after removing is : ", end ="")
for i in range (0, 3):
     print (arr[i], end =" ")

The new created array is : 1 2 3 1 5 The popped element is
3
1 2 1 5 The array after removing is : 2 1 5

In [62]:
import array as arr
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = arr.array('i', l)
for i in (a):
    print(i, end = " ")
Sliced_array = a[3:8]
print(Sliced_array)

Sliced_array = a[5:]
print("\nElements sliced from 5th "
      "element till the end: ")
print(Sliced_array)

Sliced_array = a[:]
print("\nPrinting all elements using slice operation: ")
print(Sliced_array)

1 2 3 4 5 6 7 8 9 10 array('i', [4, 5, 6, 7, 8])

Elements sliced from 5th element till the end:
array('i', [6, 7, 8, 9, 10])

Printing all elements using slice operation:
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

AttributeError: 'array.array' object has no attribute 'array'

The array after removing is : 2 3 2

In [71]:
import array as arr
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = arr.array('i', l)
print("Initial Array")
for i in (a):
    print(i, end = " ")

sliced_array = a[3:8]
print("slice array is")
print(sliced_array)

Initial Array
1 2 3 4 5 6 7 8 9 10 slice array is
array('i', [4, 5, 6, 7, 8])

In [85]:
import array as arr
arr = arr.array('i', [1, 2, 3, 1, 2, 5])
print("The new created array is", end = " ")
for i in range(0,6):
    print(arr[i], end = " ")
    
print(arr.pop(2))
for i in range(0,5):
    print(arr[i], end = " ")
    
print(arr.remove(1))

for i in range(0,4):
    print(arr[i], end = " ")

The new created array is 1 2 3 1 2 5 3
1 2 1 2 5 None
2 1 2 5

In [91]:
import array
arr = array.array('i', [1, 2, 3, 1, 2, 5])

print ("Array before updation : ", end =" ")
for i in range(0,6):
    print(arr[i], end = " ")

arr[2] = 6
print("\n Array after updation",end = " ")
for i in range(0,6):
    print(arr[i], end = " ")
    
arr[4] = 5
print("\n Array after updation", end = " ")
for i in range(0,6):
    print(arr[i], end = " ")

Array before updation :  1 2 3 1 2 5
 Array after updation 1 2 6 1 2 5
 Array after updation 1 2 6 1 5 5

In [94]:
x = 'GeeksforGeeks'
(lambda x: print(x))(x)

GeeksforGeeks

In [96]:
def g(x): return x*x*x
print(g(7))

343

In [97]:
double = lambda x: x * 2
print(double(5))

10

In [99]:
def double(x):
   return x * 2

print(double(5))

10

In [100]:
double = lambda x : x * 2
print(double(5))

10

In [101]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
print(my_list)
new_list = list(filter(lambda x : (x % 2 == 0), my_list))
print(new_list)

[1, 5, 4, 6, 8, 11, 3, 12]
[4, 6, 8, 12]

In [102]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
print(my_list)
new_list = list(map(lambda x : x * 2, my_list))
print(new_list)

[1, 5, 4, 6, 8, 11, 3, 12]
[2, 10, 8, 12, 16, 22, 6, 24]

In [103]:
things = [("animal", "bear"), ("animal", "duck"), ("plant", "cactus"), ("vehicle", "harley"), \
 ("vehicle", "speed boat"), ("vehicle", "school bus")]

dic = {}

f = lambda x: x[0]
for key, group in groupby(sorted(things, key=f), f):
    dic[key] = list(group)
    
print(dic)

NameError: name 'groupby' is not defined

In [104]:
things = [["animal", "bear"], ["animal", "duck"], ["vehicle", "harley"], ["plant", "cactus"], \
 ["vehicle", "speed boat"], ["vehicle", "school bus"]]
dic = {}
f = lambda x: x[0]
for key, group in groupby(sorted(things, key=f), f):
 dic[key] = list(group)
dic

NameError: name 'groupby' is not defined

In [105]:
list_things = ['goat', 'dog', 'donkey', 'mulato', 'cow', 'cat', ('persons', 'man', 'woman'), \
 'wombat', 'mongoose', 'malloo', 'camel']
c = groupby(list_things, key=lambda x: x[0])
dic = {}
for k, v in c:
 dic[k] = list(v)
dic

NameError: name 'groupby' is not defined

In [106]:
list(filter(None, [1, 0, 2, [], '', 'a']))

[1, 2, 'a']

In [109]:
t = ('a', 'b', 'c', 'd', 'e')
type(t)

tuple

In [117]:
tuple1 = (10, 20, 30, 40, 50)
tuple_2 = tuple1[::-1]
print(tuple_2)

(50, 40, 30, 20, 10)

In [118]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [126]:
tuple1 = (10, 20, 30, 40)
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [130]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [131]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

In [132]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [133]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [134]:
tuple1 = (('a',23),('b',37),('c',11),('d',29))
tuple1 = tuple(sorted(list(tuple1),key = lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [135]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

In [138]:
def check(t):
    return all(i == t[0] for i in t)
tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True

In [139]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Red', 'Black', 'Yellow', 'Orange', 'Blue', 'Green'}

In [140]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue","Green","Red"]

sample_set.update(sample_list)
print(sample_set)

{'Red', 'Black', 'Yellow', 'Orange', 'Blue', 'Green'}

In [141]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

In [142]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}

In [143]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [144]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [145]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

In [154]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
    print("Two sets have no items in common")
else:
    print("Two sets have items in common")
    print(set1.intersection(set2))

Two sets have items in common
{10}

In [155]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [156]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [158]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

res_dict = dict(zip(keys,values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [159]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [161]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict['class']['student']['marks']['physics'])

70

In [162]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees, defaults)
print(res)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [168]:
Dict = {0:1,1:2,2:4}

def is_key_present(x):
    if x in Dict:
        print("It is present")
    else:
        print("It is not present")
is_key_present(4)

It is not present

In [169]:
statesAndCapitals = {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
}

keys = statesAndCapitals.keys()
print(keys)

dict_keys(['Gujarat', 'Maharashtra', 'Rajasthan', 'Bihar'])

In [175]:
statesAndCapitals= {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
    
}
keys = statesAndCapitals.keys()

print(keys)

dict_keys(['Gujarat', 'Maharashtra', 'Rajasthan', 'Bihar'])

In [178]:
statesAndCapitals = {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
}
values = statesAndCapitals.values()
print(values)

dict_values(['Gandhinagar', 'Mumbai', 'Jaipur', 'Patna'])

In [179]:
statesAndCapitals= {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
    
}
states = i
for i in statesAndCapitals:
    print(i)

Gujarat
Maharashtra
Rajasthan
Bihar

In [183]:
statesAndCapitals = {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
}
 
print('List Of given capitals:\n')
 
# Iterating over values
for capital in statesAndCapitals.values():
    print(capital)

List Of given capitals:

Gandhinagar
Mumbai
Jaipur
Patna

SyntaxError: invalid syntax (Temp/ipykernel_8672/1615252270.py, line 1)

In [191]:
d = {'Red': 1, 'Green': 2, 'Blue': 3} 
for color_key, value in d.items():
     print(color_key, 'corresponds to ', d[color_key])

Red corresponds to  1
Green corresponds to  2
Blue corresponds to  3

In [200]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [201]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math

In [202]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(max(sample_dict, key=sample_dict.get))

Physics

In [207]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [214]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 400 in sample_dict.values():
    print(' 200 present in a dict')

In [215]:
Dict = {0:1,1:2,2:4}
for key, value in Dict.items():
    print(key,value)

0 1
1 2
2 4

In [216]:
Dict = {0:1,1:2,2:3,3:4}
for key in Dict.keys():
    print(key)

0
1
2
3

In [217]:
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']
color_dictionary = dict(zip(keys, values))
print(color_dictionary)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [219]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

keys = ["name", "salary"]
for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [220]:
sampleDict = { 
  "name": "Kelly",
  "age":25, 
  "salary": 8000, 
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [222]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees, defaults)
print(res)

# Individual data
print(res["Kelly"])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}