In [2]:
def maximum(a, b, c):
    if (a >= b) and (a >= c):
        largest = a

    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c

    return largest


res = maximum(2, 4, 7)
print("Largest Number: ", res)

Largest Number:  7

In [8]:
n1 = int(input("Enter first number: "))

n2 = int(input("Enter second number: "))

n3 = int(input("Enter Third number: "))


def f_max():
    if (n1 >= n2) and (n1 >= n3):
        l = n1

    elif (n2 >= n1) and (n2 >= n3):
        l = n2
    else:
        l = n3
    print("A Largest number among the three is", l)


f_max()

Enter first number: 5
Enter second number: 9
Enter Third number: 7
A Largest number among the three is 9

In [9]:
list = [8,2,3,0,7]
total = sum(list)
print ("the sum of the given list is",total)

the sum of the given list is 20

In [13]:
 def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 0, 7)))

20

0    28
dtype: int64

In [19]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total 
print(sum((8, 2, 3, 0, 7)))

20

In [21]:
import pandas as pd
data = [10,8,2,8]
df =pd.DataFrame(data)
print(df.sum())

0    28
dtype: int64

In [22]:
import pandas as pd
data = [10,18,11],[13,15,28],[9,20,3]
df=pd.DataFrame(data)
print(df.sum())

0    32
1    53
2    42
dtype: int64

In [23]:
import numpy as np
list = [ 1, 3, 43, 66, 321, 4 ]
product = np.prod(list)
print(product)

10931976

In [24]:
import math
je_list = [ 1, 3, 43, 66, 321, 4 ]
je_product = math.prod(je_list)
print(je_product)

10931976

In [26]:
def multiply(numbers):
    total = 1
    for x in numbers:
        total *=x
    return total 
print (multiply((8, 2, 3, -1, 7)))

-336

IndentationError: unexpected indent (Temp/ipykernel_13868/2451491292.py, line 2)

In [31]:
greeting = "Hello, World!"

for char in reversed(greeting):
    print(char)

!
d
l
r
o
W

,
o
l
l
e
H

In [33]:
greeting = "Hello World"
for char in reversed (greeting):
    print(char)

d
l
r
o
W

o
l
l
e
H

In [35]:
def reverse(s):
    if len(s) == 0:
        return s
    else:
        return reverse(s[1:]) + s[0]
 
s = "Geeksforgeeks"
 
print ("The original string is : ",end="")
print (s)
 
print ("The reversed string(using recursion) is : ",end="")
print (reverse(s))

The original string is : Geeksforgeeks
The reversed string(using recursion) is : skeegrofskeeG

In [41]:
def reverse(s):
    if len(s) == 0: 
        return s
    else:
        return reverse(s[1:]) + s[0]
    s = "Geeksforgeeks"
print ("The orginal string is ")
print(s)

print("The reversed string is")
print(reverse(s))

The orginal string is
Geeksforgeeks
The reversed string is
skeegrofskeeG

In [44]:
def factorial (n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
    n=int(input("Input a number to compute the factiorial : "))
    print(factorial(n))

Input a number to compute the factiorial : 6
720

In [61]:
def test_range(n):
    if n in range(3,9):
        print ("Number %s is in the range"%str(n))
    else:
        print ("The number is outside of the given range")
    test_range(5)

In [58]:
def test_range(n):
    if n in range(10,20):
        print( "Number %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(15)

Number 15 is in the range

In [62]:
X = 1000
Y = 7000

def checkRange(num):
   # using comaparision operator
   if num in range(X, Y):
       print('The number {} is in range ({}, {})'.format(num, X, Y))
   else:
      print('The number {} is not in range ({}, {})'.format(num, X, Y))

In [48]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

In [66]:
def printVowels(string):
    # to print the vowels
    for char in string:
        if char in "aeiouAEIOU":
            print(char)
    return char

# take input
string = input('Enter any string: ')

# calling function
printVowels(string)

Enter any string: Arunima
A
u
i
a

'a'

In [ ]:
#Count vowel in a string

In [68]:
def printvowel (string):
    vowels = [each for each in string if each in "aeiouAEIOU"]
    print(vowels)
string = input('Enter a string')
printvowel(string)

Enter a stringkolkata
['o', 'a', 'a']

In [69]:
n = 10
res = sum(range(1, n + 1))
print("Sum of first ", n, "numbers is: ", res)

Sum of first  10 numbers is:  55

In [70]:
n = 20
res = sum(range(1,n+1))
print("sum of first",n,"number is:",res)

sum of first 20 number is: 210

In [71]:
num_list = [10, 20.5, 30, 45.5, 50]

# Approach 1 using built-in function sum
res = sum(num_list)
avg = res / len(num_list)
print("sum is: ", res, "Average is: ", avg)

sum is:  156.0 Average is:  31.2

In [72]:
num_list = [10,20.5,30,45.5,50]
res =sum(num_list)
avg = res/len(num_list)
print("sum is:",res,"average is:",avg)

sum is: 156.0 average is: 31.2