In [3]:
def demo (name, age):
    print(name, age)
demo("Nil",21)

Nil 21

SyntaxError: invalid syntax (Temp/ipykernel_8612/3602801665.py, line 1)

In [17]:
def functional(name1,name2):
        print(name1, name2)
functional( "Alia","bhat")

Alia bhat

In [26]:
def my_function(child3, child2, child1):
  print("The eldest chikd is " + child1)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The eldest chikd is Emil

In [40]:
def calculation(a,b):
    res = calculation(40, 10)
print("res")

res

In [41]:
def calculation(a,b):
    addition= a+b
    subtraction= a-b
    return addition, subtraction

res= calculation(40,10)
print(res)

(50, 30)

In [44]:
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

In [48]:
def add(num):
    if num:
        return num + addition(num-1)
    else:
        return 0
res = addition(10)
print(res)

55

In [52]:
def display_student(name, age):
    print(name, age)

# call using original name
display_student("Emma", 26)

# assign new name
showStudent = display_student
# call using new name
showStudent("Emma", 26)

Emma 26
Emma 26

In [53]:
def display_student(name, age):
    print(name, age)
display_student("Emma",'26')
showStudent = display_student
showStudent("Emma",'26')

Emma 26
Emma 26

In [54]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [55]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24