In [1]:
#Create a datframe from a list
import pandas as pd

In [2]:
list = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']

In [3]:
df = pd.DataFrame(list)

In [4]:
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [8]:
import pandas as pd

list = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']

df = pd.DataFrame(list, index =['a','b', 'c','d','e','f','g'], columns=['Names'])

df

    Names
a   Geeks
b     For
c   Geeks
d      is
e  portal
f     for
g   Geeks

TypeError: 'list' object is not callable

TypeError: 'list' object is not callable