In [13]:
def addnumbers(a,b):
    if (isinstance(a, int) and (b, int)):
        return a+ b
    else:
        return "Input must be integers"
    
print(addnumbers(8,6))
print(addnumbers(0.0,5))

14
Input must be integers

In [16]:
def addnumbers(a,b):
    if (isinstance(a, int) and (b, int)):
        return a+ b
    else:
        return "Input must be integers"
    
print(addnumbers(8,6))
print(addnumbers(0.0,5))

14
Input must be integers

In [17]:
x = input("Enter name")
print("Name are",x)

y = input("Enter age")
print("Age are", y)

z = input ("Address:")
print("Address are",z)

Enter nameArunima
Name are Arunima
Enter age31
Age are 31
Address:Saltlake
Address are Saltlake

In [21]:
def personal_details():
    name, age = "Simon", 19
    address = "Bangalore, Karnataka, India"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))


personal_details()

Name: Simon
Age: 19
Address: Bangalore, Karnataka, India

In [23]:
def personal_details():
    name, age = "Simon", 19
    address = "Bangalore, Karnataka, India"
    print("Name:{}\n Age: {}\n Adress:{}".format(name, age, address))
    
personal_details()

Name:Simon
 Age: 19
 Adress:Bangalore, Karnataka, India

In [27]:
x, y = 4, 3
result = x * x + 2 * x * y + y * y

print("{}+{}^2={}".format(x,y, result))

4+3^2=49

In [30]:
    nl = []
    for num in range(1500,2700):
        if (num % 7 == 0) and (num %  5 == 0):
            nl.append(str(num))
            
print(", ".join(nl))

1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695